*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
.cabal-sandbox/
.hpc
.hs-tags
.hsenv
.stack-work/
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
examples
parconc-examples-0.4.5/rpar
parconc-examples-0.4.5/sudoku1
parconc-examples-0.4.5/sudoku2
parconc-examples-0.4.5/sudoku3